openapi: 3.0.3
info:
  title: Cat Facts API
  version: 1.0.0
  description: Public Cat Facts API - facts and breeds about cats
servers:
  - url: https://catfact.ninja
paths:
  /fact:
    get:
      operationId: getRandomFact
      summary: Get a random cat fact
      parameters:
        - name: max_length
          in: query
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: A random cat fact
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CatFact'
  /facts:
    get:
      operationId: getFacts
      summary: Get a paginated list of cat facts
      parameters:
        - name: limit
          in: query
          required: false
          schema:
            type: integer
        - name: max_length
          in: query
          required: false
          schema:
            type: integer
        - name: page
          in: query
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: Paginated list of cat facts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FactsResponse'
  /breeds:
    get:
      operationId: getBreeds
      summary: Get a paginated list of cat breeds
      parameters:
        - name: limit
          in: query
          required: false
          schema:
            type: integer
        - name: page
          in: query
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: Paginated list of cat breeds
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BreedsResponse'
components:
  schemas:
    CatFact:
      type: object
      required:
        - fact
        - length
      properties:
        fact:
          type: string
        length:
          type: integer
    CatBreed:
      type: object
      required:
        - breed
        - country
        - origin
        - coat
        - pattern
      properties:
        breed:
          type: string
        country:
          type: string
        origin:
          type: string
        coat:
          type: string
        pattern:
          type: string
    PaginationLink:
      type: object
      properties:
        url:
          type: string
          nullable: true
        label:
          type: string
        active:
          type: boolean
    FactsResponse:
      type: object
      properties:
        current_page:
          type: integer
        data:
          type: array
          items:
            $ref: '#/components/schemas/CatFact'
        first_page_url:
          type: string
        from:
          type: integer
        last_page:
          type: integer
        last_page_url:
          type: string
        links:
          type: array
          items:
            $ref: '#/components/schemas/PaginationLink'
        next_page_url:
          type: string
          nullable: true
        path:
          type: string
        per_page:
          type: integer
        prev_page_url:
          type: string
          nullable: true
        to:
          type: integer
        total:
          type: integer
    BreedsResponse:
      type: object
      properties:
        current_page:
          type: integer
        data:
          type: array
          items:
            $ref: '#/components/schemas/CatBreed'
        first_page_url:
          type: string
        from:
          type: integer
        last_page:
          type: integer
        last_page_url:
          type: string
        links:
          type: array
          items:
            $ref: '#/components/schemas/PaginationLink'
        next_page_url:
          type: string
          nullable: true
        path:
          type: string
        per_page:
          type: integer
        prev_page_url:
          type: string
          nullable: true
        to:
          type: integer
        total:
          type: integer
